.next-song {
  width: 329px;
  background-color: rgba(255, 255, 255, 0.05);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
}

.next-song__option {
  height: 70px;
  display: flex;
  align-items: center;
  color: #fff;
}

.next-song__option-wrapper {
  background-color: rgb(75, 32, 110);
  width: 230px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-size: 1.2rem;
}

.next-song__option-wrapper-list-play {
  background-color: rgb(129, 99, 153);
  color: rgb(255, 255, 255);
  width: 120px;
  padding: 0 4px;
  border-radius: 48px;
  -webkit-border-radius: 48px;
  -moz-border-radius: 48px;
  -ms-border-radius: 48px;
  -o-border-radius: 48px;
  height: 28px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin: 0 3px;
  cursor: pointer;
}

.next-song__option-wrapper-history {
  color: rgba(255, 255, 255, 0.5);
  width: 110px;
  padding-right: 4px;
  border-radius: 48px;
  -webkit-border-radius: 48px;
  -moz-border-radius: 48px;
  -ms-border-radius: 48px;
  -o-border-radius: 48px;
  height: 28px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  margin: 0 3px;
  cursor: pointer;
}

.next-song__option-alarm,
.next-song__option-more {
  font-size: 1.6rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}
.next-song__option-alarm {
  background-color: rgba(225, 225, 225, 0.1);
  padding: 7px 9px;
  margin-left: 12px;
}

.next-song__option-more {
  padding: 7px 8px;
  background-color: rgba(225, 225, 225, 0.1);
  margin-left: auto;
  margin-right: 6px;
}

.next-song__option-alarm-icon {
  color: rgb(255, 255, 255);
}

.next-song__option-alarm:hover,
.next-song__option-more:hover {
  opacity: 0.8;
}

.next-song__box {
  height: calc(100vh - 90px - 70px);
  overflow-y: auto;
}

.next-song__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.next-song__item {
  width: 313px;
  height: 56px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  position: relative;
}

.next-song__item-active {
  background-color: #ed2b91;
}

.next-song__item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.next-song__item-img {
  /* background-image: url("/public/assets/img/songs/0.webp"); */
  width: 40px;
  height: 40px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-left: 8px;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  cursor: pointer;
}

.next-song__item-body {
  display: flex;
  flex-direction: column;
  cursor: default;
}

.next-song__item-body-heading {
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.next-song__item-body-description {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.next-song__item-action {
  position: absolute;
  right: 0;
  display: flex;
  width: 55px;
  font-size: 1.4rem;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  display: none;
}

.next-song__item-action-heart {
  margin-right: 4px;
  padding: 6px;
  color: #ed2b91;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.next-song__item-action-dot {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  color: #fff;
}

.next-song__item-action-heart:hover,
.next-song__item-action-dot:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.next-song__item:hover .next-song__item-action {
  display: flex;
}

.next-song__item-play-btn {
  font-size: 1.5rem;
  color: #fff;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  align-items: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  display: none;
}

.next-song__item:hover .next-song__item-play-btn {
  display: flex;
}

.next-song__last {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.next-song__last-heading {
  margin: 20px 0 6px 16px;
  padding: 0;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 500;
  width: 303px;
}

.next-song__item-playing-box {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.next-song__item-playing-box-img {
  margin: auto;
  width: 18px px;
  height: 18px;
  cursor: pointer;
}
