.overview {
  background-color: transparent;
  color: white;
  margin-left: 60px;
  margin-right: 60px;
}

.overview-option-song {
  margin-bottom: 40px;
}

.overview-option-song__right-more-list {
  display: flex;
  align-items: center;
  cursor: pointer;
  transform: translateX(-20px);
  opacity: 0;
  transition: all linear 0.35s;
}

.overview-option-song__right-more-list > span {
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  padding-right: 8px;
}

.overview-option-song:hover .overview-option-song__right-more-list {
  transform: translateX(0);
  opacity: 1;
}

.overview-option-song:hover .overview-option-song__right-more-list > span {
  color: white;
}

.overview-option-song__right-upload {
  height: 28px;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  font-weight: 300;
  cursor: pointer;
  text-transform: uppercase;
  margin-left: 14px;
  width: 104px;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.1);
}

.overview-option-song__right-playall {
  height: 28px;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  font-weight: 300;
  cursor: pointer;
  text-transform: uppercase;
  margin-left: 14px;
  width: 138px;
  background-color: #ed2b91;
}

.overview__allsong {
  margin-right: -24px;
}

.overview__allsong-list {
  height: 241px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 0;
  list-style: none;
}

.overview__allsong-item {
  margin-bottom: 8px;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-align: -webkit-match-parent;
}

.overview__allsong-item-left {
  display: flex;
  align-items: center;
}

.overview__allsong-item-left > .overview__allsong-item-left-box {
  background-size: contain;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: flex;
}

.overview__allsong-item-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  width: 200px;
}

.overview__allsong-item-body-name {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
}

.overview__allsong-item-body-singer {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
}

.overview__allsong-item-center {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  width: 300px;
  padding-left: 50px;
  cursor: default;
}

.overview__allsong-item-center > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
}

.overview__allsong-item-end {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 190px;
}

.overview__allsong-item-end-mv {
  color: white;
  font-size: 1.6rem;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 7px;
  display: none;
  padding: 10px 10px;
}

.overview__allsong-item-end-lyric {
  padding: 10px 14px;
  color: white;
  font-size: 1.6rem;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 7px;
  display: none;
}

.overview__allsong-item-end-tym {
  font-size: 1.6rem;
  padding: 10px 11px;
  color: #ed2b91;
  border-radius: 50%;
  cursor: pointer;
}

.overview__allsong-item-end-duration {
  width: 50px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  font-weight: 500;
  text-align: right;
}

.overview__allsong-item-end-more {
  font-size: 1.6rem;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 7px;
  padding: 9px 11px;
  margin-left: 16px;
  margin-right: -2px;
  color: rgb(255, 255, 255);
  display: none;
}

.overview__allsong-item-end-mv:hover,
.overview__allsong-item-end-lyric:hover,
.overview__allsong-item-end-tym:hover,
.overview__allsong-item-end-more:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.overview__allsong-item:hover .overview__allsong-item-end-mv,
.overview__allsong-item:hover .overview__allsong-item-end-lyric,
.overview__allsong-item:hover .overview__allsong-item-end-more {
  display: block;
}

.overview__allsong-item:hover .overview__allsong-item-end-duration {
  display: none;
}

.overview__allsong-item-active {
  background-color: rgba(255, 255, 255, 0.1);
}

.overview__allsong-item-left-play {
  font-size: 1.5rem;
  color: #fff;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
}

.overview__allsong-item-left-playing {
  font-size: 1.5rem;
  color: #fff;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
}

.overview__allsong-item-left-play.hover {
  display: none;
}

.overview__allsong-item:hover .overview__allsong-item-left-play.hover {
  display: flex;
}

.overview-slider {
  width: 270px;
  height: 244px;
  position: relative;
  margin-top: 6px;
}

.option-all__song-slider-img {
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.9s;
  transition-property: all;
  transition-duration: 0.9s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.option-all__song-slider-img-third {
  width: 162px;
  height: 162px;
  z-index: 1;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 41px;
  bottom: 41px;
  transform: translateX(-110px);
}

.option-all__song-slider-img-first {
  width: 230px;
  height: 230px;
  position: absolute;
  right: 0;
  top: 7px;
  bottom: 7px;
  z-index: 3;
  opacity: 1;
}

.option-all__song-slider-img-second {
  width: 196px;
  height: 196px;
  position: absolute;
  right: 0px;
  top: 24px;
  bottom: 24px;
  z-index: 2;
  opacity: 0.7;
  transform: translateX(-57px);
}

.overview-option-playlist {
  margin-bottom: 40px;
}

.overview-option-playlist:hover .overview-option-song__right-more-list {
  transform: translateX(0);
  opacity: 1;
}

.overview-option-song__heading:hover .overview-option-song__right-more-list {
  transform: translateX(0);
  opacity: 1;
}

.overview-option-playlist__list {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.overview-option-playlist__item0 {
  height: 100%;
  background: linear-gradient(33deg, #5a1eae -7%, #ce267a 117%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.overview-option-playlist__item-img-wrapper {
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  background-color: #ccc;
}

.overview-option-playlist__item-img {
  padding-top: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
  transform: scale(100%);
  transition: transform 0.7s;
  transition-property: transform;
  transition-duration: 0.7s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition: all 0.5s ease-in-out;
}

.overview-option-playlist__item-content-name {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 10px 0 2px 0;
}
.overview-option-playlist__item-content-name:hover {
  color: #ed2b91;
}

.overview-option-playlist__item-content-name1 {
  font-size: 1.2rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  cursor: default;
}

.overview-option-playlist__item-img-wrapper-action {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.overview-option-playlist__item-img-wrapper-action-1 {
  padding: 3px 6px;
  font-size: 2.4rem;
  border-radius: 50%;
}
.overview-option-playlist__item-img-wrapper-action-3 {
  padding: 4px 3px;
  font-size: 2.4rem;
  border-radius: 50%;
}

.overview-option-playlist__item-img-wrapper-action-1:hover,
.overview-option-playlist__item-img-wrapper-action-3:hover {
  background: rgba(255, 255, 255, 0.1);
}
.overview-option-playlist__item-img-wrapper-action-2 {
  font-size: 2rem;
  margin: 0 30px;
  padding: 9px 8px 8px 10px;
  border-radius: 50%;
  border: 1px solid var(--white-color);
}

.overview-option-playlist__item-img-wrapper-action-2:hover {
  opacity: 0.8;
}

.overview-option-playlist__item-img-wrapper:hover
  .overview-option-playlist__item-img-wrapper-action {
  display: flex;
  background: rgba(0, 0, 0, 0.5);
}

.overview-option-playlist__item-img-wrapper:hover
  .overview-option-playlist__item-img {
  scale: 1.2;
}

.overview-option-playlist__item-img-wrapper-action.overview-option-mv__item-wrapper {
  justify-content: center;
}

.overview-option-playlist__item-img.overview-option-mv__item-img {
  padding-top: 57%;
  background-size: cover;
}

.overview-option-mv__content {
  display: flex;
  align-items: center;
  margin-top: 6px;
}
.overview-option-mv__content-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
}

.overview-option-playlist__item-img.overview-option-singer__item-img {
  padding-top: 100%;
  border-radius: 50%;
}

.overview-option-playlist__item-img-wrapper.singer {
  background: transparent;
  overflow: hidden;
  border-radius: 50%;
}

.overview-option-singer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
}

.overview-option-singer__content-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  font-size: 1.4rem;
  font-weight: 400;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 10px;
}

.overview-option-singer__content-profile-icon {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-left: 6px;
}

.overview__allsong-item:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
